{% extends 'base.html' %}  
{% load static %} 
{% block content %}

<div class="page-header">
  <h1>Delete Mountain?</h1>
  <img src="{% static 'images/mountain3.svg' %}" alt="A mountain" />
</div>

<h2>Are you sure you want to delete {{ mountain.name }}?</h2>

<form action="" method="post" class="form">
  {% csrf_token %}
  <a href="{% url 'mountain-detail' mountain.id %}" class="btn secondary">Cancel</a>
  <button type="submit" class="btn danger">Yes - Delete!</button>
</form>

{% endblock %}
