{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/cats/cat-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="cat-container">
  <div class="cat-img">
    <img src="{% static 'images/mountain1.svg' %}" alt="A mountain" />
  </div>
  <div class="mountain-details">
    <h2 class="card-title">{{ mountain.name }}</h2>
      <h2 class="card-title">{{ mountain.location }}</h2>
      <h2 class="card-title">{{ mountain.description }}</h2>

      <div class="mountain-actions">
        <a href="{% url 'mountain-update' mountain.id %}" class="btn warn">Edit</a>
        <a href="{% url 'mountain-delete' mountain.id %}" class="btn danger">Delete</a>
      </div>
  </div>
</section>
{% endblock %}